<!DOCTYPE html>
<html>
<head>
    <title>Real-time Notifications</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="Realtime_development-3.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('notification', function(data) {
            alert(data.message);
        });
    </script>
</head>
<body>
    <h1>Real-time Notifications</h1>
    <input type="text" name="text" id="text" >
    <button id="send_notification">Send Notification</button>
</body>
</html>